body{
  background-image: url('tło.jpg');
  margin-left: 25vw; margin-right: 25vw;  
    
}
h2{
  color:black;
  font-size:1,5vw;
  font-family:arial;
  font-weight:bold;
}
p{
  color:dimgrey;
  font-size:1vw;
  font-family:arial;
}
#index, #Ziola, #Galeria{
    background-image:url('tło_menu.jpg');
    width:7vw;
    height:1,7vw;
}
header{
    color:darkgreen;
    font-size:2vw;
    font-family:fantasy ;
}
iframe{
  width=40vw;
  height=auto;
}

